openapi: 3.0.3
info:
  title: SmartDocConverter API
  description: |
    RESTful API for SmartDocConverter - a SaaS document conversion platform.

    ## Authentication
    - JWT tokens in httpOnly cookies (for web app)
    - Bearer tokens in Authorization header (for API access)

    ## Rate Limiting
    - Free tier: 5 conversions/day
    - Premium: Unlimited
    - Headers: X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset
  version: 1.0.0
  contact:
    name: SmartDocConverter Support
    email: support@smartdocconverter.com

servers:
  - url: https://smartdocconverter.com/api/v1
    description: Production
  - url: https://staging.smartdocconverter.com/api/v1
    description: Staging
  - url: http://localhost:3000/api/v1
    description: Development

tags:
  - name: Health
    description: Health check endpoints
  - name: Auth
    description: Authentication and authorization
  - name: Users
    description: User management
  - name: Subscriptions
    description: Premium subscription management
  - name: Conversions
    description: Document conversion operations
  - name: Files
    description: File upload and download

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout current user
      operationId: logout
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logged out successfully

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset email
      operationId: forgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Reset email sent (if account exists)

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password with token
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password reset successful
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Verify email address
      operationId: verifyEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Email verified

  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      operationId: getCurrentUser
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags: [Users]
      summary: Update current user profile
      operationId: updateCurrentUser
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'

  /users/me/usage:
    get:
      tags: [Users]
      summary: Get usage statistics
      operationId: getUserUsage
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'

  /users/me/history:
    get:
      tags: [Users]
      summary: Get conversion history
      operationId: getConversionHistory
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Conversion history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionHistoryResponse'

  /subscriptions:
    get:
      tags: [Subscriptions]
      summary: Get current subscription
      operationId: getSubscription
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'

  /subscriptions/checkout:
    post:
      tags: [Subscriptions]
      summary: Create Stripe checkout session
      operationId: createCheckoutSession
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'

  /subscriptions/portal:
    post:
      tags: [Subscriptions]
      summary: Create Stripe customer portal session
      operationId: createPortalSession
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Portal session URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri

  /subscriptions/webhook:
    post:
      tags: [Subscriptions]
      summary: Stripe webhook endpoint
      operationId: stripeWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed

  /files/upload:
    post:
      tags: [Files]
      summary: Upload file for conversion
      operationId: uploadFile
      security:
        - BearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: File to upload (max 10MB free, 50MB premium)
      responses:
        '200':
          description: File uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
        '413':
          description: File too large
        '429':
          $ref: '#/components/responses/RateLimited'

  /files/{fileId}/download:
    get:
      tags: [Files]
      summary: Download converted file
      operationId: downloadFile
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '302':
          description: Redirect to presigned download URL
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: File expired (auto-deleted after 1 hour)

  /convert/pdf-to-word:
    post:
      tags: [Conversions]
      summary: Convert PDF to Word document
      operationId: pdfToWord
      security:
        - BearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PdfToWordRequest'
      responses:
        '202':
          description: Conversion job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionJobResponse'
        '429':
          $ref: '#/components/responses/RateLimited'

  /convert/word-to-pdf:
    post:
      tags: [Conversions]
      summary: Convert Word document to PDF
      operationId: wordToPdf
      security:
        - BearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WordToPdfRequest'
      responses:
        '202':
          description: Conversion job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionJobResponse'

  /convert/pdf-to-excel:
    post:
      tags: [Conversions]
      summary: Convert PDF to Excel spreadsheet
      operationId: pdfToExcel
      security:
        - BearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PdfToExcelRequest'
      responses:
        '202':
          description: Conversion job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionJobResponse'

  /convert/compress-pdf:
    post:
      tags: [Conversions]
      summary: Compress PDF file
      operationId: compressPdf
      security:
        - BearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompressPdfRequest'
      responses:
        '202':
          description: Compression job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionJobResponse'

  /convert/merge-pdf:
    post:
      tags: [Conversions]
      summary: Merge multiple PDF files
      operationId: mergePdf
      security:
        - BearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergePdfRequest'
      responses:
        '202':
          description: Merge job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionJobResponse'

  /convert/split-pdf:
    post:
      tags: [Conversions]
      summary: Split PDF into multiple files
      operationId: splitPdf
      security:
        - BearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitPdfRequest'
      responses:
        '202':
          description: Split job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionJobResponse'

  /convert/jpg-to-pdf:
    post:
      tags: [Conversions]
      summary: Convert images to PDF
      operationId: jpgToPdf
      security:
        - BearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageToPdfRequest'
      responses:
        '202':
          description: Conversion job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionJobResponse'

  /convert/pdf-to-jpg:
    post:
      tags: [Conversions]
      summary: Convert PDF pages to images
      operationId: pdfToJpg
      security:
        - BearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PdfToImageRequest'
      responses:
        '202':
          description: Conversion job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionJobResponse'

  /convert/ocr:
    post:
      tags: [Conversions]
      summary: Extract text from image (OCR)
      operationId: imageToText
      security:
        - BearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '202':
          description: OCR job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionJobResponse'

  /convert/bank-statement:
    post:
      tags: [Conversions]
      summary: Convert bank statement PDF to Excel/CSV
      operationId: bankStatementToExcel
      security:
        - BearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankStatementRequest'
      responses:
        '202':
          description: Conversion job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionJobResponse'

  /jobs/{jobId}:
    get:
      tags: [Conversions]
      summary: Get conversion job status
      operationId: getJobStatus
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionJobResponse'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Resource already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [VALIDATION_ERROR, UNAUTHORIZED, FORBIDDEN, NOT_FOUND, CONFLICT, RATE_LIMITED, FILE_TOO_LARGE, INVALID_FILE_TYPE, PROCESSING_ERROR, INTERNAL_ERROR]
            message:
              type: string
            details:
              type: object

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        version:
          type: string
        timestamp:
          type: string
          format: date-time
        services:
          type: object
          properties:
            database:
              type: string
              enum: [up, down]
            redis:
              type: string
              enum: [up, down]
            storage:
              type: string
              enum: [up, down]

    RegisterRequest:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        name:
          type: string
          minLength: 2

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    ResetPasswordRequest:
      type: object
      required: [token, password]
      properties:
        token:
          type: string
        password:
          type: string
          minLength: 8

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        emailVerified:
          type: boolean
        image:
          type: string
          format: uri
        tier:
          type: string
          enum: [free, premium]
        createdAt:
          type: string
          format: date-time

    UserResponse:
      type: object
      properties:
        success:
          type: boolean
        user:
          $ref: '#/components/schemas/User'

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        image:
          type: string
          format: uri

    UsageResponse:
      type: object
      properties:
        success:
          type: boolean
        usage:
          type: object
          properties:
            conversionsToday:
              type: integer
            conversionsLimit:
              type: integer
            totalConversions:
              type: integer
            storageUsed:
              type: integer
            tier:
              type: string
              enum: [free, premium]

    SubscriptionResponse:
      type: object
      properties:
        success:
          type: boolean
        subscription:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
              enum: [active, canceled, past_due, trialing]
            plan:
              type: string
              enum: [monthly, annual]
            currentPeriodEnd:
              type: string
              format: date-time
            cancelAtPeriodEnd:
              type: boolean

    CheckoutRequest:
      type: object
      required: [plan]
      properties:
        plan:
          type: string
          enum: [monthly, annual]
        successUrl:
          type: string
          format: uri
        cancelUrl:
          type: string
          format: uri

    CheckoutResponse:
      type: object
      properties:
        success:
          type: boolean
        sessionId:
          type: string
        url:
          type: string
          format: uri

    FileUploadResponse:
      type: object
      properties:
        success:
          type: boolean
        file:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            size:
              type: integer
            mimeType:
              type: string
            expiresAt:
              type: string
              format: date-time

    ConversionJobResponse:
      type: object
      properties:
        success:
          type: boolean
        job:
          type: object
          properties:
            id:
              type: string
              format: uuid
            status:
              type: string
              enum: [queued, processing, completed, failed]
            progress:
              type: integer
              minimum: 0
              maximum: 100
            type:
              type: string
            inputFile:
              type: string
            outputFile:
              type: string
              nullable: true
            downloadUrl:
              type: string
              format: uri
              nullable: true
            error:
              type: string
              nullable: true
            createdAt:
              type: string
              format: date-time
            completedAt:
              type: string
              format: date-time
              nullable: true

    ConversionHistoryResponse:
      type: object
      properties:
        success:
          type: boolean
        jobs:
          type: array
          items:
            type: object
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer

    PdfToWordRequest:
      type: object
      required: [fileId]
      properties:
        fileId:
          type: string
          format: uuid
        ocrEnabled:
          type: boolean
          default: false

    WordToPdfRequest:
      type: object
      required: [fileId]
      properties:
        fileId:
          type: string
          format: uuid
        compress:
          type: boolean
          default: false

    PdfToExcelRequest:
      type: object
      required: [fileId]
      properties:
        fileId:
          type: string
          format: uuid
        ocrEnabled:
          type: boolean
          default: false
        pages:
          type: string
          default: all

    CompressPdfRequest:
      type: object
      required: [fileId]
      properties:
        fileId:
          type: string
          format: uuid
        level:
          type: string
          enum: [low, medium, high]
          default: medium

    MergePdfRequest:
      type: object
      required: [fileIds]
      properties:
        fileIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 2
          maxItems: 50

    SplitPdfRequest:
      type: object
      required: [fileId, splitMode]
      properties:
        fileId:
          type: string
          format: uuid
        splitMode:
          type: string
          enum: [pages, ranges, every_n]
        pages:
          type: array
          items:
            type: integer
        ranges:
          type: array
          items:
            type: string
        everyN:
          type: integer
          minimum: 1

    ImageToPdfRequest:
      type: object
      required: [fileIds]
      properties:
        fileIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          maxItems: 50
        pageSize:
          type: string
          enum: [a4, letter, legal, fit]
          default: a4
        orientation:
          type: string
          enum: [portrait, landscape, auto]
          default: auto
        margin:
          type: integer
          minimum: 0
          maximum: 100
          default: 10

    PdfToImageRequest:
      type: object
      required: [fileId]
      properties:
        fileId:
          type: string
          format: uuid
        format:
          type: string
          enum: [jpg, png]
          default: jpg
        quality:
          type: integer
          minimum: 1
          maximum: 100
          default: 85
        dpi:
          type: integer
          enum: [72, 150, 300]
          default: 150
        pages:
          type: string
          default: all

    OcrRequest:
      type: object
      required: [fileId]
      properties:
        fileId:
          type: string
          format: uuid
        language:
          type: string
          default: eng
        outputFormat:
          type: string
          enum: [txt, pdf]
          default: txt

    BankStatementRequest:
      type: object
      required: [fileId]
      properties:
        fileId:
          type: string
          format: uuid
        outputFormat:
          type: string
          enum: [xlsx, csv]
          default: xlsx
        dateFormat:
          type: string
          default: 'YYYY-MM-DD'
